@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {          /** Corpo do site **/
    background: rgb(243,243,243);
    background: linear-gradient(0deg, rgba(243,243,243,1) 70%, rgba(199,200,181,1) 100%);
}

 /*Menu */

header {
    font-weight: 600;
    width: 100%;
}
/*Menu */
.logo h1 {
    color: rgb(5, 5, 5);
    font-weight: 600;
    font-size: max(30px, 2vw);
    margin: 0 auto;
}
.nav-bar {
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 2rem;
    
}


.nav-list ul { 
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 2rem;
    /*font-size: max(20pt 3vw);*/
    margin: 0 auto;
    color: #000;
}
.nav-link {
    text-decoration: none;
    font-size: 1rem;
    color: rgb(17, 17, 17);
}
/* Efeito de linha no menu */

.nav-item a {
  position: relative;
}

.nav-item a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background-color: #18272F;
    bottom:0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }

  .nav-item a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

/* Fim do efeito de linha no menu */



.login-button button {
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    background: linear-gradient(to right, #3f4c6b, #606c88); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        cursor: pointer;

}

.login-button button a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 10pt;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 975px) {
    img.imagem-home{
        display: contents;
    }
    .titulo-home h1{
        margin-bottom: 20px;
    }
    .texto-home p {
        margin-bottom: 15px;
    }
    .cad {
        display: flex;
    }
}

@media screen and (max-width: 975px) {             /** Responsividade **/
    
header {
    margin-top: 0px;
}
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    .login-button {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .login-button button {
        width: 100%;
    }
    .open {
        display: block;
    }

}


/** Conteudo **/
.conteudo {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0% 5% 5% 0%;    


}
.conteudo h1 {
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18pt;

}

.aside {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-top: 10px;
}
/** Cards **/

.card-pet {
  font-family: 'Poppins', sans-serif;
  position: relative;
  display: inline-block;
  margin:0 auto;
  width: 100%;
  margin-left: 4rem;
  margin-top: 50px;
  width: max(370px, 8vw);
  color: #000;
  text-align: left;
  font-size: 16px;
  background: #E9E7E7;
  border-radius: 5px;
  box-shadow: 5px 5px 20px rgb(128, 128, 128);
}

.card-pet *, /* efeito Esmaecer */
.card-pet:before,
.card-pet:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.card-pet img { /* imagem do pet no card */
  max-width: 35%;
  margin-top: -15px;
  margin-left: 60%;
  margin-bottom: 15px;
  backface-visibility: hidden;
  vertical-align: top;
  border-radius: 5px;
}

.card-pet figcaption { /*texto nome...*/
  position: absolute;
  top: 10px;
  right: 40%;
  left: 10px;
  bottom: 0;
}

.card-pet h3 { /* texto*/
  margin: 0;
  font-size: 1.1em;
  font-weight: normal;
}

.perdido {  /* TAG Perdido*/
    border-radius: 20px;
    border: 0;
    background: linear-gradient(-90deg, #EC4C4C, #F07575);;
    margin-top: 0.5rem;
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    width: 12rem;
    
}

.encontrado {  /* TAG Encontrado*/
    border-radius: 20px;
    border: 0;
    background: linear-gradient(-90deg, #02ca5c, #04a040);;
    margin-top: 0.5rem;
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    width: 12rem;
    
}

.textosobre h1 {
    padding: 1%;
}

.textosobre {
    width: 90%;
    display: flex;
    flex-direction: column;

}

.p-num {
    font-weight: 600;
    font-size: 40pt;
    text-align: center;

}

.sobreimg {
    width: 40%;
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;


}



/*-------*/

input.pesquisa-botao {
    width: 20rem;
    padding: 10px;
    border-radius:20px 0px 0px 20px;
    border: 0 solid;
    box-shadow: 5px 5px 20px rgb(128, 128, 128);

}

input.borda {
    border-radius: 50px;
    border-style: none;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.busca {
    width: 10rem;
    margin-top: 30px;
    padding: 10px;
    border-radius:0px 20px 20px 0px;
    border: 0px solid;
    box-shadow: 5px 5px 20px rgb(128, 128, 128);
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(97,186,255,1) 0%, rgba(166,239,253,1) 90.1% );
}

 .tipo-input{
    font-size: 15pt;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.filtros
{
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap; 
    gap: 10px;  
}

/*  Pagina Minhas Publicaçoes Botoes */
.deletar-pet, .adicionar-pet { 
    background: #B79891;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #94716B, #B79891);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #94716B, #B79891); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 30px;
    width: 150px;;
    height: 80px;
    cursor:pointer;
}


/* Pagina Minhas Publicações */
.minhas-publi {
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18pt;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}
.titulo-pag{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18pt;
    width: 100%;
    display: flex;
    justify-content: center;
}

.botoes {  
    display: flex;
    justify-content: center; 
    gap: 20px;
}

.cards-publi{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

footer {
	margin-top:40px;
	width: 100%;
	left: 0;
    border-radius: 20px 20px 0px 0px;
	background-color: #d1d7db;
	color: rgb(0, 0, 0);
	text-align: center;
    padding-top: 5px;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    position:inherit;
    bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;

}
.icones-footer{
margin-top: -10px;
padding-bottom: 10px;
}

.titulo-home h1{
    font-weight: 700;
    text-align: center;

}
.texto-home {
    display: flex;
    align-items: center;
}
.texto-home h3 {
    display: flex;
    width: 70%;
    margin: 0;
    font-size: 15pt; 
    margin-top: -125px;
}



.cad button {
    border-radius: 50px;
    padding: 10px 10px;
    border-style: none;
    background: #134E5E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #71B280, #134E5E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #71B280, #134E5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.cad button a {
    color: #E9E7E7;
    font-weight: 600;
    text-decoration: none;
}

.dep-card-geral {
    display: flex;
    flex-wrap: wrap;
    gap: 50px 50px;
    justify-content: space-around;
}

.titulo-dep {
    margin-top:70px;
    margin-bottom: 10px;
    font-weight: 700;
    text-align: center;
}

.sub-dep{
    margin:0;
    font-size: 15pt;
    font-weight: 600;
    margin-bottom: 50px;
    text-align: center;
}



/* CSS DEPOIMENTOS*/
.dep-card {

    border-radius: 20px;
    width: 230px;
    height: 320px;
    padding: 15px;
    margin: 0;
    background-color: #d1d7db;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}
.dep-card h1{
    text-align: center;
    font-weight: 600;
    font-size: 20pt;
}
.dep-card p {
    font-weight: 600;
}
.dep-card img {
    display: flex;
    max-width: 50%;
    height: 30%;
    margin-top: -50px;
    
}
/* CSS DEPOIMENTOS*/

/* Cartao Pet*/
.cartao-pet {
    width: 300px;
    height: 120px;
    border-radius: 10px;
    background-color: #ededed;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}
img.pet-foto {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    margin-top: 20px;
}

.texto-cartao h3 {
    font-size: 11pt;
}
.texto-cartao p {
    font-size: 13pt;
    display: flex;
    align-items:center;
}
.conteudo-lista-pet{
    display: flex;
    justify-content: space-between;
    margin: 5%;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 50px;
}

.container-home {
    margin: 0% 10% 0% 10%;

}
.container-dep {
    margin: 0% 5% 0% 5%;
}

.dep-card-geral h1 {
    margin: 0;
}




/*Detalhe Pet*/

.info-pet h1{
    font-weight: 500;
    font-size: 12pt;
}
.desc-pet-info {
    width: 300px;
    text-align: center;
    border-radius: 5px;
    border-style: none;
    resize: none;
    background-color: rgb(206, 205, 205);
    padding: 5px;
}
.desc-pet-info2 {
    width: 300px;
    min-height: 200px;
    text-align: left;
    border-radius: 5px;
    border-style: none;
    resize: none;
    background-color: rgb(206, 205, 205);
    padding: 5px;
}
.detalhe-pet {
    width: 100%;

}
.pric-foto-pet img{
    width: 350px;
}

.pric-foto-pet{
    margin: 0;
}

.fotos-pet img{
    width: 80px;
}

.fotos-pet{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0;
}
.campo-foto-pet{
    display: flex;
    margin-top: 60px;
    width: 80%;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}


.btn-ac {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 0;
}

.btn-pet {

    cursor: pointer;
    width: 100px;
    height: 90px;
    text-align: center;
    border-radius: 10px;
    border-style: none;
    background: linear-gradient(0deg, rgba(235,235,235,1) 0%, rgba(213,212,212,1) 100%);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.comentarios{
    width: 80%;

}
.coment-user{
    margin-top: 1rem;
    min-height: 100px;
    background-color: rgb(206, 205, 205);
    border-radius: 5px;
    resize: none;
    border-style: none;
    padding: 10px;
    width: 100%;

}

input.coment-btn{
    margin-top: 10px;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    border-style: none;
    background-color: rgb(202, 176, 167);
    margin-left: 40%;
    cursor: pointer;
}

.conteudo-lista-pet a {
    text-decoration: none;
    color: #000;
}


.det_pet{
    display: flex;
    margin: 0 10%;
}

.cria_pet{
    display: flex;
    margin: 0 10%;
}


.pet_thumb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin: 0;
}

.pet_destaque {
    display: flex;
    align-items: center;
    margin: 0;
}

.texto_info{
    width: 300px;
    text-align: center;
    border-radius: 5px;
    border-style: none;
    resize: none;
    background-color: rgb(206, 205, 205);
    
}

button.photo_pet_p{
    width: 350px;
    height: 350px;
    border-radius: 5px;
    border-style: none;
    background-color: rgb(199, 199, 199);
}

button.photo_pet{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    border-style: none;
    background-color: rgb(199, 199, 199);

}
i.file_img {
    width: 100px;
    display: flex;
    /* margin-top: 45%; */
    cursor: pointer;
    height: 100px;
    justify-content: center;
    align-items: center;
}
input#file-input {
    display: none;
}

.check {
    width: 100%;
    display: flex;
    margin-top: 60px;
}


.pet_destaque img {
    width: 450px;
    height: 450px;
    object-fit: cover;
    border-radius: 10px;
}


.pet_thumb img {
    height: 100px;
    width: 100px;
    cursor: pointer;
    opacity: .6;
    object-fit: cover;
    border-radius: 10px;

}

.pet_thumb img:hover {
    opacity: 1;

}

.loginBox{
    margin-top: 100px;
    display: flex;
    width: 100%;
    gap: 15px;
    flex-direction: column;
    min-height: 400px;
}

.text_login {
    text-align: center;
}
button#google{
    width: 250px;
    height: 35px;
    border-radius: 5px;
    border: solid 1px ;
    cursor: pointer;
}
button#register{
    width: 250px;
    height: 35px;
    border-radius: 5px;
    border: solid 1px ;
    cursor: pointer;
}
button#register:hover{
    background-color: rgb(79, 250, 130);

}
button#google:hover{
    background-color: rgb(250, 79, 79);

}
input#login,#senha{
    width: 300px;
    height: 35px;
    border-radius: 5px;
    padding: 5px;
    background-color: #ced1cf;
    border-style: none;
    border: solid 1px rgb(70, 70, 70);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

input#enviar {
  appearance: none;
  background-color: #3e413f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

#enviar:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

#enviar:hover {
  background-color: #2c974b;
}

#enviar:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

#enviar:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

#enviar:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}


/* Registro page CSS*/



.register_titulo {
    margin-top: 40px;
    color: black;
    width: 100%;
    display: flex;
    justify-content: center;
}

/*#register {
    position: fixed;
    background-color: rgb(255, 255, 255);
    height: 600px;
    width: 600px;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 30px;
    transition: all 0.3s ease-out;
    text-align: center;
    opacity: 100%;
    
}
*/
.register_label {
    font-size: 16px;
    opacity: 100%;
    display: block;
}

.register_input {
    border-width: 1px;
    width: 200px;
    padding: 5px 0;
    opacity: 100%;
    border-radius: 20px;
}



.register_submit {
    border: none;
    background-color: lightcoral;
    color: black;
    border-radius: 5px;
    width: 40%;
    padding: 10px 0;
    font-size: 13px;
    transition:  0.5s all;
    font-weight: bold;
    cursor: pointer;
    margin: 10px;
}

.register_submit:hover {
    background-color: darkred;
    font-size: 15px;
    width: 45%;
}

.register_login {
    padding: 10px;
}

.register_text_login{
    cursor: pointer;
    font-weight: 600;
}


@media screen and (max-width: 620px) {
    .card {
        width: auto;
        height: auto;
    }
    .input, .label {
        z-index: 5;
        max-height: 10rem;
        overflow-y: scroll;
        flex-wrap: nowrap;
    }

}



/* Fim registro page CSS*/




@media screen and (max-width: 975px) {             /** Responsividade **/

    .pet_thumb img {
        width: 80px;
        height: 80px;
    }

    .pet_thumb {
        display: flex;
        flex-direction: row;
    }

    img#pet_box {
        width: 350px;
        height: 350px;
    }

    .btn-ac{
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin-bottom: 5rem;
    }

    input.coment-btn{
        margin-left: 20%;
    }
}

